body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid-wrapper {
    display: grid;
    gap: 1rem;
}

.image {
    height: auto;
    max-width: 100%;
    border-radius: 0.5rem;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

